.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

 .navbar li {
  float: left;
}
 .navbar li a {
  display: block;
  color: #898989;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

 .navbar li a:hover {
  background-color: white;
  color: white;
}

.active {
  background-color: #04AA6D;
  position: absolute;
  left: 1200px;

}


.r2{
   position: absolute;
   left: 1080px;
}
.r1{
   position: absolute;
   left: 1000px;
}

#men1{
     position: absolute;
    left: 726px
}

#men2{
    position: absolute;
    left: 796px;
}

#men3{
        position: absolute;
    left: 883px;
}

#men4{
        position: absolute;
    left: 980px;
}

#men5{
        position: absolute;
    left: 1081px;
}
.searchbar{

         position: absolute;
    top: 79px;
    left: 1234px;
}
.nav2 ul{
  list-style-type: none;
}


.nav2 li{
  float: left;
  
}
 .nav2 a{
  text-decoration: none;
  color: black;
  font-family: Arial;

 }

.nav2  a{
           position: absolute;
           top: 80px;
           left: 100px;
}

.logo p{
         position: absolute;
    top: 61px;
    left: 118px;
    font-size: 20px;
}

.slider img{
    position: absolute;
    top: 131px;
    width: 99%;
}

.laptop img{
    position: absolute;
    top: 511px;
    left: 218px;
}

.heading{
           position: absolute;
    top: 555px;
    left: 811px;
}

.para{
  position: absolute;
    top: 609px;
    left: 813px;
}

.image1 img{
       position: absolute;
    top: 951px;
    left: 217px
}

.image2{
    position: absolute;
    top: 783px;
    left: 815px;
}

.heading2{
   position: absolute;
    top: 1376px;
    left: 216px;
}

.para2{
       position: absolute;
    top: 1427px;
    left: 216px;
}

.heading3{
          position: absolute;
    top: 1210px;
    left: 819px;
}

.para3{
        position: absolute;
    top: 1266px;
    left: 819px;
}
.gothum{
         padding-left: 842px;
    background-color: #f8f8f8;
    padding-bottom: 141px;
    padding-top: 39px;
    position: absolute;
    top: 1751px;
    width: 100%;
}

.low{
    height: 100px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    top: 1984px;
    left: 501px;
}

.high{

    height: 100px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: #00c8c8;
    color: white;
    position: absolute;
    top: 1984px;
    left: 816px;
}

.style{
    position: absolute;
    top: 1435px;
    left: 814px;
}

.style1{
   
    position: absolute;
    top: 1435px;
    left: 1003px;
}

.style2{
         position: absolute;
    top: 1443px;
    left: 1260px;
}
.slogan{

            position: absolute;
    top: 235px;
    left: 700px;
    color: white;
font-family: arial;
font-weight: unset;

}

.here{

     position: absolute;
     top: 323px;
     left: 665px;
     color: white;
     font-family: arial;
}

.botnav li {
             display: inline;
             
             
}
.botnav a{
           color: #898989;
}
.botnav ul{
            background-color: black;
    text-align: center;
    color: #898989;
    padding-bottom: 32px;
    margin-top: 2px
  }
.botnav{
           position: relative;
    top: 2045px;
}